* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: fontRegular;
    src: url(Tangerine_Regular.ttf);
}

html {
    background-color: #fdd09f;
    font-size: 24px;
    font-family: "Merriweather", serif;
    font-weight: 400;
    color: #0a2540;
}

h1,
h2 {
    font-family: fontRegular;
    color: #0a2540;
}

p {
    line-height: 40px;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 16px 16px 96px 16px;
    text-align: center;
}

/* LAYOUT */
.two-column {
    width: 80%;
    margin: 42px auto 32px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.two-column > .col-left {
    width: 50%;
    padding: 0 16px 0 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.two-column > .col-right {
    position: relative;
    width: 50%;
    padding: 0 0 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* HEADER, BUTTONS */

h1 {
    margin: 32px 0 0 0;
    font-size: 112px;
}

.btn-container {
    margin: 32px 0 0 0;
}

.btn {
    margin: 18px;
    min-width: 196px;
    line-height: 64px;
    border: none;
    background: #c0ba78;
    font-size: 32px;
    cursor: pointer;
    border-radius: 30%;
    transition: background-color 0.16s, letter-spacing 0.16s;
    color: #0a2540;
    box-shadow: 2px 2px 8px #0a2540;
}

.btn:hover {
    background: #e7df86;
    letter-spacing: 0.3px;
}

/* RECIPE */

#recipe-container {
    margin-top: 32px;
}

#recipe-container h2 {
    font-size: 64px;
    width: 100%;
    margin-bottom: 22px;
}

#recipe-container ul {
    text-align: left;
    list-style: none;
}

#recipe-container li {
    padding: 4px 0;
    font-weight: 300;
}

.col-right img {
    position: relative;
    right: -200px;
    max-width: 80%;
    border-radius: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(100, 100, 100);
    opacity: 0;
    transform: rotate(18deg);
}

.anim-slide-in {
    -webkit-animation: slide-in 0.4s forwards;
    -webkit-animation-delay: 0.4s;
    animation: slide-in 0.4s forwards;
    animation-delay: 0.4s;
}

@-webkit-keyframes slide-in {
    100% {
        right: 0;
        transform: rotate(2deg);
        opacity: 1;
    }
}

@keyframes slide-in {
    100% {
        right: 0;
        transform: rotate(2deg);
        opacity: 1;
    }
}

@media only screen and (max-width: 980px) {
    .two-column {
        display: block;
    }

    .two-column > .col-left {
        width: 100%;
        padding: 0 16px 0 92px;
        display: block;
    }

    .two-column > .col-right {
        width: 100%;
        padding: 0 0 0 16px;
        display: block;
        margin: 48px 0;
    }
}
